<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.starworks.mapper.BoardMapper">
  
  <sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							b_title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							b_contents like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							e_no like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<select id="getListWithPaging"
		resultType="org.starworks.domain.BoardVO">
		<![CDATA[
		select
			b_no,b_title,b_contents,b_date,b_category 
		from
			(
			select /*+index_desc(board pk_board)*/
				rownum rn,b_no,b_title,b_contents,b_date,b_category
			from
				board
			where 
			]]>
			
			<include refid="criteria"></include>
			
			<![CDATA[
			rownum <= #{pageNum} * #{amount}
			)
			where rn > (#{pageNum} - 1) * #{amount}
			]]>
	</select>
	
	<insert id="insertNotice">
		insert into board(
			b_no, b_title, b_contents ,b_date
		)values(
		b_no_seq.nextval, #{b_title}, #{b_contents}, sysdate
		)
	</insert>
	
	<insert id="insertNoticeSelectKey">

		<selectKey keyProperty="b_no" order="BEFORE"
			resultType="long">
			select b_no_seq.nextval from dual
		</selectKey>

		insert into board (b_no, b_title, b_contents, b_date)
		values (#{b_no}, #{b_title}, #{b_contents}, sysdate)
	</insert>
	
	<select id="listNotice" resultType="org.starworks.domain.BoardVO">
	
	<!-- select * from board  -->
	<!-- <![CDATA[ -->
		select * from board
		<if test="area != null">
			<where>
				<foreach collection="area" item="item" separator="OR" open="(" close=")">
					${item} LIKE #{searchKey}
				</foreach>
				and b_category = '공지사항'
			</where>
		</if>
		<where>
			<if test="area == null">
				b_category = '공지사항'
			</if>
		</where>
		order by b_no desc
		<!-- ]]> -->
	</select>
	
	<update id="updateNotice">
		update board set
		b_title = #{b_title}, b_contents = #{b_contents}

		where b_no = #{b_no}
	</update>
	
	<delete id="deleteNotice">
		delete from board where b_no = #{b_no}
	</delete>
	
	<select id="readNotice" resultType="org.starworks.domain.BoardVO">
				select * from board where b_no = #{b_no}
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from board 
		where 
		
		<include refid="criteria"></include>
		
		b_no > 0
	</select>
	
	
	</mapper>